<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div *ngFor="let quote of quotes; let i=index">
    <p>{{quote.Title}}</p>
    <p>{{quote.Author}}</p>
    <p>{{quote.quote}}</p>
    <p>{{quote.upvote}}</p>
    <p>{{quote.downvote}}</p>
<button type="button" (click)="upvote(i)"><div class = glyphicon glyphicon glyphicon-thumbs-up
    ><p>Upvote</p></div> </button>
<button type="button" (click)="downvote(i)"><div class = glyphicon glyphicon-thumbs-down><p>downvote</p></div> </button>
</div>
<form  (ngSubmit)="Onsubmit()"><h2>Add New Quote</h2>
    <div class="mb-3">
  <label class="form-label">Title</label>
  <input type="text"[(ngModel)]="Title" name="title" class="form-control">
</div>
<div class="mb-3">
  <label class="form-label">Quote</label>
  <input type="text" [(ngModel)]="quotetext" name="quotetext" class="form-control" >
</div>
  <div class="mb-3">
  <label class="form-label">Author</label>
  <input type="text" [(ngModel)]="Author" name="author" class="form-control">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>

